.header-container {
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 60px 25px;
  margin: 0 auto;
  transition: all 0.5s ease;
  border-bottom: 1px solid #a09a9a;
}

.header-container .logo img {
  width: 350px;
  height: 103px;
  transition: width 0.4s ease; /* Đảm bảo chuyển đổi mượt mà */
}

/* Điều chỉnh lại để logo và header thực sự nhỏ hơn khi cuộn */
.header-scrolled .logo img {
  width: 262.5px; /* Giảm kích thước logo xuống 50% */
  height: 77.25px;
}

.header-scrolled {
  padding: 11px 30px 12.5px; /* Giảm padding xuống 50% */
  top: 50px; /* Điều chỉnh vị trí top để header gần gũi hơn với đỉnh trang */
  height: 100px;
}
@media (min-width: 768px) and(max-width: 1023) {
  .header-container .logo {
    margin: auto !important;
  }
}
@media (max-width: 768px) {
  .header-container .logo img {
    width: 150px;
  }

  .header-container {
    padding: 15px;
  }

  /* Loại bỏ các quy tắc thay đổi kích thước logo khi cuộn cho mobile */
  .header-scrolled .logo img {
    width: 150px; /* Giữ nguyên kích thước logo khi cuộn trên mobile */
  }

  .header-scrolled {
    padding: 7.5px; /* Giảm padding xuống 50% cho màn hình nhỏ */
  }
}
.input-search-custom {
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  border-radius: 0px;
}
.input-search-custom:focus,
.input-search-custom:active {
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  border-radius: 0px;
  outline: none;
}
#list-item-menu-header-main {
  font-family: sans-serif;
}

#header-l {
  justify-content: initial;
}

#item-menu-header-main {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "FreightText", serif;
  margin: 0 40px 0 0;
}
.id-itemsub-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "FreightText", serif;
}
.submenu-main {
  padding: 16px 60px 19px;
  background-color: #ffffff;
  border: none;
  border-top: 1px solid #a09a9a;
}
.line-underline {
  overflow: hidden;
}

.line-underline {
  position: relative;
  height: 1px;
  width: 0%;
  background-color: rgb(3, 3, 4); /* Màu của line-underline */
  transition: width 0.3s ease; /* Hiệu ứng transition cho line-underline */
}

#item-menu-header-main:hover .line-underline {
  width: 100%; /* Khi hover vào NavLink, độ dài của line-underline sẽ là 100% */
}
.line-underline-active {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: rgb(3, 3, 4); /* Màu của line-underline */
  transition: width 0.3s ease;
}
